
<!-- <link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/plant.css"> -->
</head> </head>
<body>
<main>
    <form class="plant-form" action="/admin/<% if (editing) { %>edit-plant<% } else { %>add-plant<% } %>" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<% if (editing) { %><%= plant.name %><% } %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= plant.imageUrl %><% } %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"><% if (editing) { %><%= plant.description %><% } %></textarea>
        </div>
        
        <% if (editing) { %>
            <input type="hidden" value="<%= plant.id %>" name="plantId">
        <% } %>

        <button class="btn" type="submit"><% if (editing) { %>Update plant<% } else { %>Add plant<% } %></button>
    </form>
</main>  
</body>
