<form action="/add-to-wish-list" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Wishlist</button>
    <input type="hidden" name="plantId" value="<%= plant._id %>">
</form>