<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
<input type="hidden" value="<%= plant._id %>" name="plantId" />
<button class="btn danger" type="button" onclick="deletePlant(this)">Delete</button>
