<footer>
  <div class="wrapper">
    <div class="footer__container">
      <p>© <span id="year"></span> Mac Lapinski, All rights reserved.</p>
      <div class="footer-link__container">
        <a href="/privacy-policy" class="footer-privacy__link">Privacy</a>
        <a href="" class="footer-contact__link">Contact</a>
      </div>
    </div>
  </div>
</footer>
