<footer>
    <div class="wrapper">
      <div class="footer_container">
        <p>© <span id="year"></span> Mac Lapinski, All rights reserved.</p>
        <a href="" class="footer-contact_link">Contact</a>
      </div>
    </div>
  </footer>