<form
  id="plant-search__form"
  action="/search"
  method="POST"
  role="form"
  aria-labelledby="search-block-tab-true-STAYS"
  role="tabpanel"
  tabindex="0"
  class="search-tabpanel"
  data-panel-bounds="true"
>
  <div class="_1c7nvmy">
    <div class="_dd55nf9">
      <div class="experiance_search" onclick="toggleInputBox(this)">
        <label class="_koumzdh" id="experience" for="bigsearch-query-location-input"
          ><div class="_gor68n">
            <div class="_wtz1co">EXPERIENCE</div>
            <div class="_uh2dzp">How experienced are you?</div>
          </div></label
        ><span id="bigsearch-query-location-description" class="_1u9fru1"
          >Przejdź dalej, aby uzyskać proponowane wyniki</span
        >
        <!-- <div class="_g5308cs"> -->

        <!-- </div> -->
        <span aria-atomic="true" aria-live="polite" role="status" class="_krjbj"></span>
      </div>
      <div class="_16takj0" data-testid="structured-search-input-field-query-panel" style="margin-left: 0px">
        <section>
          <div class="_3hmsj">
            <div
              class="_11dv6d8"
              role="dialog"
              aria-label="Szukaj sugestii"
              id="bigsearch-query-location-listbox"
              tabindex="-1"
            >
              <div>
                <div
                  role="link"
                  tabindex="0"
                  id="bigsearch-query-location-suggestion-0"
                  data-index="0"
                  data-testid="option-0"
                  class="_15pbdpi"
                >
                  <div class="_1nuqap5">
                    <div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="difficulty"
                          value="easy"
                          id="difficulty-easy"
                          autocompleted=""
                          checked
                        />
                        <label class="form-check-label" for="difficulty-easy"> Beginner </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="difficulty"
                          value="medium"
                          id="difficulty-medium"
                          autocompleted=""
                        />
                        <label class="form-check-label" for="difficulty-medium"> Intermediate </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="difficulty"
                          value="advanced"
                          id="difficulty-advanced"
                          autocompleted=""
                        />
                        <label class="form-check-label" for="difficulty-advanced"> Experienced </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="_43mycv"></div>
    <div class="_1l6jpwo">
      <div class="_j8gg2a" onclick="toggleInputBox(this)">
        <div
          role="button"
          tabindex="0"
          class="_1akb2mdw"
          aria-expanded="false"
          data-testid="structured-search-input-field-split-dates-0"
        >
          <div class="_seuyf">
            <div class="_wtz1co">LIGHT</div>
            <div class="_uh2dzp">How bright is the spot?</div>
          </div>
        </div>
      </div>
      <div class="_16takj0" data-testid="structured-search-input-field-query-panel" style="margin-left: 0px">
        <section>
          <div class="_3hmsj">
            <div
              class="_11dv6d8"
              role="dialog"
              aria-label="Szukaj sugestii"
              id="bigsearch-query-location-listbox"
              tabindex="-1"
            >
              <div
                role="group"
                class="_1s4do1s"
                aria-labelledby="FLEXIBLE_DESTINATIONS-w-dowolnym-miejscu--w-dowolnym-czasie"
              >
                <div>
                  <div
                    role="link"
                    tabindex="0"
                    id="bigsearch-query-location-suggestion-0"
                    data-index="0"
                    data-testid="option-0"
                    class="_15pbdpi"
                  >
                    <div class="_1nuqap5">
                      <div style="display: flex">
                        <fieldset>
                          <div>
                            <input type="checkbox" name="light" value="low" id="low" />
                            <label class="" for="low">Low</label>
                          </div>
                          <div>
                            <input type="checkbox" name="light" value="medium" id="medium" />
                            <label class="" for="medium">Medium</label>
                          </div>
                          <div>
                            <input type="checkbox" name="light" value="bright" id="bright" />
                            <label class="" for="bright">Bright</label>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="_43mycv"></div>
    <div class="_1yulsurh">
      <div
        onclick="toggleInputBox(this)"
        role="button"
        tabindex="0"
        class="_37ivfdq"
        aria-expanded="false"
        data-testid="structured-search-input-field-guests-button"
      >
        <div class="_seuyf">
          <div class="_wtz1co">PETS</div>
          <div class="_uh2dzp">Do you have pets?</div>
        </div>
      </div>
      <div class="_16takj0" data-testid="structured-search-input-field-query-panel" style="margin-left: 0px">
        <section>
          <div class="_3hmsj">
            <div
              class="_11dv6d8"
              role="dialog"
              aria-label="Szukaj sugestii"
              id="bigsearch-query-location-listbox"
              tabindex="-1"
            >
              <div
                role="group"
                class="_1s4do1s"
                aria-labelledby="FLEXIBLE_DESTINATIONS-w-dowolnym-miejscu--w-dowolnym-czasie"
              >
                <div>
                  <div
                    role="link"
                    tabindex="0"
                    id="bigsearch-query-location-suggestion-0"
                    data-index="0"
                    data-testid="option-0"
                    class="_15pbdpi"
                  >
                    <div class="_1nuqap5">
                      <div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="petSafe"
                            value="true"
                            id="flexRadioDefault1"
                            autocompleted=""
                          />
                          <label class="form-check-label" for="flexRadioDefault1"> Yes </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="petSafe"
                            value="false"
                            id="flexRadioDefault2"
                            checked
                            autocompleted=""
                          />
                          <label class="form-check-label" for="flexRadioDefault2"> No </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="_w64aej">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="_sxfp92z" type="submit">
          <div class="_1hb5o3s">
            <div class="_14lk9e14">
              <svg
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="presentation"
                focusable="false"
                style="
                  display: block;
                  fill: none;
                  height: 16px;
                  width: 16px;
                  stroke: currentcolor;
                  stroke-width: 4;
                  overflow: visible;
                "
              >
                <g fill="none">
                  <path
                    d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="_c5qlo1f">Search</div>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>
