.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  margin-bottom: 0.25rem;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  font: inherit;
  padding: 7px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control .input {
  align-items: baseline;
  display: flex;
  position: relative;
}
.form-control .togglePassword {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: 1.05rem;
  height: 32px;
  padding: 7px;
  padding-top: 9px;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 35px;
}
.form-control .password {
  padding-right: 40px;
}

.form-control .input .fa-check-circle,
.form-control .input .fa-times-circle {
  display: none;
  left: 102%;
  position: absolute;
  top: 9px;
}

.form-control .input .fa-check-circle {
  color: green;
}
.form-control .input .fa-times-circle {
  color: red;
}
