@import url('https://fonts.googleapis.com/css?family=Hind:400,600,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Hind, Helvetica', sans-serif;
}

main {
  padding: 1.5rem;
  margin: auto;
  max-width: 1400px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0.2rem 0;
}

form {
  display: inline;
}

p {
  line-height: 1.2rem;
}

.centered {
  text-align: center;
}

.align-center {
  align-items: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  max-width: 1400px;
  height: 4.5rem;
  margin: auto;
  background-color: #ffffff;
  padding: 0 1.5rem;
  display: flex;
  align-items: flex-end;
}

.main-header__logo {
  height: 100%;
  display: flex;
  align-items: end;
}
.main-header__logo img {
  height: 85%;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: end;
  justify-content: end;
}

.main-header__item-list {
  list-style: none;
  margin: 0.2rem 0;
  padding: 0;
  display: flex;
  font-size: 1.2rem;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
  text-align: center;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #0f0f0f;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 4px solid transparent;
}

.main-header__item a:hover,
.main-header__item button:hover {
  font-weight: 600;
}

.main-header__item a::before,
.main-header__item button::before {
  display: block;
  content: attr(val);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.main-header__item a.active {
  border-bottom: 4px solid #28a745;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #28a745;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid #28a745;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: #28a745;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}
/* spinner */
.active{
  display: block !important;
}
.backdrop-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}
.loader,
.loader:before,
.loader:after {
  background: #1d9f44;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #1d9f44;
  text-indent: -9999em;
  margin: 50vh auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* ****************** */
/* spinner
.spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* ********************** */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.abcRioButton {
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  height: 36px;
  padding: 0 2rem;
}

.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.abcRioButtonLightBlue {
  background-color: #fff;
  color: #757575;
}
.abcRioButtonIcon {
  float: left;
  padding: 8px;
}
.abcRioButtonIconImage img {
  width: 18px;
  height: 18px;
}
.abcRioButtonContents {
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}

element.style {
  height: 36px;
  width: 120px;
}

.abcRioButton:hover {
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}

.avatar{
  border-radius: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.6fr));
  justify-content: space-around;
  margin: 30px 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.container__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.container__image img {
  width: 70%;
  height: fit-content;
}
.container__image {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 7px;
}


.row {
  display: flex;
}

.value {
  padding-left: 5px;
}
.value .active {
  color: #28a745;
}
.value .inactive {
  color: #bec2cf;
}

.label {
  font-weight: 600;
}



.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image img {
  height: 200px;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions .text-container,
.card__actions a {
  margin: 0.5rem 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #28a745;
  color: #28a745;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:disabled:hover {
  color: rgb(51, 49, 49);
  background: rgb(239, 242, 243);
  border-color: rgb(51, 49, 49);
}
.btn:disabled {
  color: rgb(51, 49, 49);
  background: rgb(239, 242, 243);
  border-color: rgb(51, 49, 49);
}

.btn:hover,
.btn:active {
  background-color: #28a745;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.user-message {
  margin: 2rem auto;
  width: 90%;
  height: fit-content;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}
.user-message--success {
  border-color: green;
  background: rgb(113, 251, 109);
  color: green;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }
  .container-row {
    flex-direction: row;
  }
  .container__text {
    padding: 1rem 1rem 1rem 0;
  }
  .container__text,
  .container__image {
    width: 50%;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}
