table {
  width: 100%;
}

table {
  border: 2px solid black;
  border-spacing: 0;
}
tr {
  border-spacing: 0;
}
td,
th {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-spacing: 0;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #28a745;
  color: #28a745;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  margin: 15px;
}

.btn:hover,
.btn:active {
  background-color: #28a745;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}
.plant-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.plant-item {
  max-width: 95%;
  padding: 1rem 2rem;
}

.plant__title {
  font-size: 1.2rem;
  text-align: center;
}

.plant__description {
  text-align: center;
}

.card__actions .text-container {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 3px;
}
.card__actions .text-container p {
  margin: 0;
}
