table {
  width: 100%;
}

table {
  border: 2px solid black;
  border-spacing: 0;
}
tr {
  border-spacing: 0;
}
td,
th {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-spacing: 0;
  text-align: center;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.plant-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.plant-item {
  padding: 1rem 2rem;
}

.plant__title {
  font-size: 1.2rem;
  text-align: center;
}

.plant__description {
  text-align: center;
}

.card__actions .text-container {
  border: 1px solid lightgray;
  padding: 5px 20px;
  border-radius: 3px;
  margin: auto;
  width: fit-content;
}
.card__actions .text-container p {
  margin: 0;
}

.plant__details {
  max-width: 800px;
  padding: 1rem;
}
.plant__details img {
  max-width: 350px;
  width: 100%;
}
.plant__details p {
  margin: 0.3rem 0;
  text-align: left;
}
.plant__details a {
  margin: 1rem auto
}
