<%- include('../includes/head.ejs') %>
</head>
<body>
  <main>
    <div class="wrapper">
      <%- include('../includes/header.ejs') %>
    <h3>Thank you for getting Premium Membership</h3>
  </main>
  <%- include('../includes/footer.ejs') %> <%- include('../includes/end.ejs') %>

