footer {
  align-items: center;
  border-top: 2px solid #d4d4d4;
  background-color: #e2e8d4;
  color: #222222;
  display: flex;
margin-top: 15px;
  width: 100%;
  .footer__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .footer-link__container {
      text-decoration: underline;
      a{
        margin-left: 20px;
      }
    }
  }
}
