@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,600,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #222222;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
  flex-direction: column;
  display: flex;
}

main {
  width: 100%;
  min-height: var(--main-height, 100px);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0.2rem 0;
}

form {
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff !important;
  border: 0.125rem solid #757575;
  position: relative;
  width: 1.125rem;
}

input[type="checkbox"]:checked {
  background-color: green !important;
  color: green !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
  width: 100%;
}

.content__header{
  padding: 0 20px;
}

.row {
  display: flex;
}
.active {
  display: block !important;
}
.card {
  border-radius: 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0.2rem 0;
}

.action__btn {
  height: 37px;
  border: none;
  font: inherit;
  font-weight: 600;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
}
.danger__btn {
  color: #ffffff;
  background-color: #db1212;
  border: none;
  &:hover {
    background-color: darken($color: #db1212, $amount: 4%);
  }
}
.primary__btn {
  color: #ffffff;
  background-color: #124c5f;
  border: none;
  &:hover {
    background-color: darken($color: #124c5f, $amount: 4%);
  }
}
.secondary__btn {
  color: #124c5f;
  background-color: #ffffff;
  border: 2px solid #124c5f;
  &:hover {
    background-color: darken($color: #ffffff, $amount: 4%);
  }
}
.btn__center{
  margin-left: auto;
  margin-right: auto;
}
.user__message {
  border-radius: 20px;
  height: fit-content;
  margin: 2rem auto;
  padding: 15px 35px;
  width: 90%; 
  max-width: 450px;
}

.user__message--error {
  box-shadow: 0px 1px 3px rgba(230, 25, 25, 0.6);
  border-color: #e61919;
  color: #e61919;
  border: 2px solid #e61919;
}
.user__message--success {
  box-shadow: 0px 1px 3px rgba(13, 95, 10, 0.6);
  border-color: #0d5f0a;
  color: #0d5f0a;
  border: 2px solid #0d5f0a;
}
.actions__message {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 15px;
  }
}

.placeholder__container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  .placeholder-img__container {
    width: 90%;
    margin: 30px 0;
    .placeholder__img {
      max-width: 400px;

      width: 100%;
    }
  }
  .placeholder-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 10px 0;
    }
    h3 {
      font-weight: 400;
      margin: 10px 0;
    }
    .action__btn{
      margin: 20px auto;
    }
  }
  @media screen and (min-width: 400px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .placeholder-img__container {
      width: 50%;
      display: flex;
      justify-content: center;

      .placeholder__img {
        max-width: 400px;

        margin-bottom: 30px;
      }
    }
    .placeholder-text__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      h3 {
        width: 65%;
      }
      
    }
  }
  @media screen and (min-height: 1000px) {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    .placeholder-img__container {
      width: 50%;
      display: flex;
      justify-content: center;

      .placeholder__img {
        max-width: 400px;

        margin-bottom: 30px;
      }
    }
    .placeholder-text__container {
      display: flex;
    flex-direction: column;
    justify-content: center;
    width: 510px;
      h2 {
        margin: 10px 0;
      }
      h3 {
        font-weight: 400;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}

@media screen and (min-width: 758px) {
  .grid {
    width: 92%;
  }
}
@media screen and (min-width: 900px) {
  .grid {
    width: 80%;
  }
}
@media screen and (min-width: 1036px) {
  .grid {
    width: 100%;
  }
}
