.plant-details__body {
  display: flex;
  flex-direction: column;
  margin: 30px auto 60px;

  @media screen and (min-width: 610px) {
    .plant-details__content {
      .plant__text {
        .overview {
          .overview__content {
            display: flex;
            flex-direction: row;
            .section {
              margin: 0 15px 0 0;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 756px) {
    padding: 0 2rem;
    .plant-details__content {
      flex-direction: row;
      .plant__image {
        display: flex;
        margin-bottom: 0;
        margin-right: 5%;
        width: 50%;
        img {
          margin: auto;
          max-width: 100%;
        }
      }
      .plant__text {
        justify-content: center;
        width: 50%;
        .overview {
          .overview__content {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 0 2rem;
    .plant-details__content {
      flex-direction: row;
      .plant__image {
        display: flex;
        margin-right: 5%;
        width: 35%;
        img {
          margin: auto;
          max-width: 100%;
        }
      }
      .plant__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        .overview {
          .overview__content {
            flex-direction: row;
            .section {
              margin: 0 20px 0 0;
            }
          }
        }
        .actions {
          margin-right: 30px;
        }
      }
    }
  }

  .plant-details__header {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .plant-details__content {
    color: #002140;
    display: flex;
    flex-direction: column;
    .plant__image {
      display: flex;
      margin-bottom: 30px;
      img {
        margin: auto;
        max-width: 80%;
      }
    }
    .plant__text {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .overview {
        display: flex;
        flex-direction: column; 
        .overview__content {
          display: flex;
          flex-direction: column;
          .section {
            display: flex;
            margin: 5px;
            .icon {
              display: flex;
              margin-right: 10px;
              width: 28px;
              svg {
                height: 100%;
                width: 100%;
              }
            }
            .label {
              color: #757575;
              font-weight: 600;
              margin-right: 10px !important;
            }
            .value {
              color: #0d986a;
              display: flex;
              font-size: 1.2rem;
              font-weight: 600;
              padding: 5px;
              padding-left: 0;
              p {
                margin: 0;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .details {
        margin-top: 15px;
        max-width: 700px;
        p {
          margin: 10px 0;
        }
      }
      .actions {
        display: flex;
        justify-content: end;
        margin-top: 20px;
      }
    }
  }
}
