.plant-details__body {
  margin: 30px auto 60px;
  display: flex;
  flex-direction: column;

  .plant-details__header {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .plant-details__content {
    display: flex;
    flex-direction: column;
    color: #002140;
    .plant__image {
      margin-bottom: 30px;
      display: flex;
      img {
        max-width: 80%;
        margin: auto;
      }
    }
    .plant__text {
      flex-direction: column;
      display: flex;
      .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .overview {
        display: flex;
        flex-direction: column;
      
        .overview__content {
          display: flex;
          flex-direction: column;
          .section {
            margin: 5px;
            display: flex;

            .icon {
              display: flex;
              width: 28px;
              margin-right: 10px;
              svg {
                width: 100%;
                height: 100%;
              }
            }
            .label {
              font-weight: 600;
              color: #757575;
              margin-right: 10px !important;
            }
            .value {
              font-size: 1.2rem;
              padding: 5px;
              padding-left: 0;
              color: #0d986a;
              font-weight: 600;
              display: flex;
              p {
                margin: 0;
              }
            }
          }
        }
      }
      .details {
        margin-top: 15px;
        max-width: 700px;
        p {
          margin: 10px 0;
        }
      }
      .actions {
        display: flex;
        margin-top: 20px;
      }
    }
  }

  @media screen and (min-width: 610px) {
    .plant-details__header {
    }
    .plant-details__content {
      .plant__image {
        img {
        }
      }
      .plant__text {
        .overview {
          .overview__content {
            display: flex;
            flex-direction: row;
            .section {
              margin: 0 15px 0 0;
            }
          }
        }
        .details {
        }
        .actions {
        }
      }
    }
  }
  @media screen and (min-width: 756px) {
    padding: 0 2rem;
    .plant-details__header {
    }
    .plant-details__content {
      flex-direction: row;

      .plant__image {
        display: flex;
        margin-bottom: 0;
        width: 50%;
        margin-right: 5%;
        img {
          max-width: 100%;
          margin: auto;
        }
      }
      .plant__text {
        justify-content: center;
        width: 50%;

        .overview {
          .overview__content {
            display: flex;
            flex-direction: column;
            .section {
            }
          }
        }
        .details {
        }
        .actions {
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 0 2rem;
    .plant-details__header {
    }
    .plant-details__content {
      flex-direction: row;

      .plant__image {
        display: flex;
        width: 35%;
        margin-right: 5%;
        img {
          max-width: 100%;
          margin: auto;
        }
      }
      .plant__text {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 70%;

        .overview {
          .overview__content {
            flex-direction: row;
            .section {
              margin: 0 20px 0 0;
            }
          }
        }
        .details {
        }
        .actions {
        }
      }
    }
  }
}
